# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [9]:
import pandas as pd
import numpy as np

nba = pd.read_csv('./nbasheet.csv')
nba
nba.describe(include = 'all')['WT']['mean']

228.75170842824602

# What team is represented the most during this time?

In [22]:
nba.groupby('Team').count().sort_values('Player', ascending = False)[['Player']].head(1)

            Player
Team
Miami Heat      28

# What draft class is represeted the most during this time?

In [36]:
nba.groupby(['NBA Draft Status']).count().sort_values('Player', ascending = False)[['Player']].head(1)

                    Player
NBA Draft Status
1996 Rnd 1 Pick 13      16

# Are foriegn players more prevalent in the All-Star Game during this time?

In [40]:
nba.groupby('Nationality').count().sort_values('Player', ascending = False)[['Player']].head(2)

               Player
Nationality
United States     365
Germany            13

# How often are the Western All-Stars voted in by fans?

In [79]:
nbarow = nba.groupby('Selection Type', as_index = False).count()
nbarow[4:5]

,Selection Type,Year,Player,Pos,HT,WT,Team,NBA Draft Status,Nationality
4,Western All-Star Fan Vote Selection,85,85,85,85,85,85,85,85

# How many times does Steph Curry make the All-Star game during this time period?

In [86]:
nba.groupby('Player').count().sort_values('Player', ascending = False)

,Year,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
Player,,,,,,,,
Zydrunas Ilgauskas,2,2,2,2,2,2,2,2
Zach Randolph,2,2,2,2,2,2,2,2
Yao Ming,8,8,8,8,8,8,8,8
Wally Szczerbiak,1,1,1,1,1,1,1,1
Vlade Divac,1,1,1,1,1,1,1,1
Vince Carter,7,7,7,7,7,7,7,7
Tyson Chandler,1,1,1,1,1,1,1,1
Tracy McGrady,7,7,7,7,7,7,7,7
Tony Parker,6,6,6,6,6,6,6,6
Tim Duncan,13,13,13,13,13,13,13,13
Theo Ratliff,1,1,1,1,1,1,1,1
Steve Nash,8,8,8,8,8,8,8,8
Steve Francis,3,3,3,3,3,3,3,3
Stephon Marbury,2,2,2,2,2,2,2,2
Stephen Curry,4,4,4,4,4,4,4,4
Shawn Marion,4,4,4,4,4,4,4,4
Shareef Abdur-Rahim,1,1,1,1,1,1,1,1
Shaquille O'Neal,8,8,8,8,8,8,8,8
Sam Cassell,1,1,1,1,1,1,1,1
Russell Westbrook,6,6,6,6,6,6,6,6
Roy Hibbert,2,2,2,2,2,2,2,2
Richard Hamilton,3,3,3,3,3,3,3,3
Ray Allen,9,9,9,9,9,9,9,9
Rasheed Wallace,3,3,3,3,3,3,3,3
Rashard Lewis,2,2,2,2,2,2,2,2
Rajon Rondo,4,4,4,4,4,4,4,4
Peja Stojakovic,3,3,3,3,3,3,3,3
Paul Pierce,10,10,10,10,10,10,10,10
Paul Millsap,4,4,4,4,4,4,4,4
Paul George,4,4,4,4,4,4,4,4

# How many Shooting Gaurds have made the All-Star game during this time?

In [ ]:
allstar[allstar['Pos'] == 'SG'].count()

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [ ]:
teams = allstar.groupby(['Team']).count()
teams